		.name { background: #fff url(images/name.png) no-repeat 10px center; padding-left: 35px }
		.email { background: #fff url(images/email.png) no-repeat 10px center; padding-left: 35px }
		input[type="submit"] {
			background: #217b30 url(images/green.png) repeat-x top;
			border: 1px solid #137725;
			color: #fff;
			cursor: pointer;
			font-size: 18px;
			font-weight: bold;
			padding: 8px 0;
			text-shadow: -1px -1px #1c5d28;
			width: 100%
		}
input[type="submit"]:hover { color: #c6ffd1 }